<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}


    h1{
        border-radius: 20px;
        padding: 1vw 3vw;
        color: crimson;
        text-align: center;
        background-color: rgb(230, 222, 222);
    }
</style>
<body>
    <h1>Hello its abhishek</h1>
    <h1>You can type of on url to check other features(/swag/ etc..)</h1>
</body>
</html>